@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(/Lausanne-300.woff2);
}

@font-face {
  font-family: font2;
  src: url(/Lausanne-500.woff2);
}

body {
  overflow-x: hidden;
}

@keyframes moveAnimation {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.moveX {
  animation-name: moveAnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
